
.workspace {
	border-bottom: 1px dashed #e5e5e5;
	padding: 0 3em .95em; /* Bottom padding is related to .item margin-bottom */
}
.workspace-header {
	margin-bottom: 1.75em;
}
.workspace-header .workspace-options {
	margin-top: .9em;
	margin-left: .5em;
	float: left;
	display: block;
	opacity: 0;
	transition: .1s linear all;
}
.workspace-header .workspace-options a {
	display: block;
	width: 2.25em;
	height: 2.25em;
	float: left;
	margin-left: 1em;
}
.workspace-header .workspace-options .collapser-toggle {
	width: 3.375em;
}
.workspace-header .workspace-options a img {
	display: block;
	width: 100%;
	height: 100%;
}
.workspace:hover .workspace-header .workspace-options {
	opacity: 1;
}
#workspaces h2 {
	font-size: 2em;
	font-weight: 700;
	border: 1px dashed #e0e0e0;
	border-top: none;
	padding: .5em 1em;
	border-radius: 0 0 8px 8px;
	float: left;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
	max-width: 600px;
}

.workspace-items .item {
	width: 20em;
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
	position: relative;
	font-size: .8em; /* Workspace item size modifier */
}
.item-anchor {
	display: block;
	width: 100%;
	height: 100%;
	padding: 1em;
	background: #fafafa;
	border: 3px solid #f0f0f0;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	transition: .1s linear all;
}
.item:hover .item-anchor {
	background: #f0f0f0;
	border-color: #e5e5e5;
}
.item:hover .item-settings-button {
	opacity: 1;
}
.item-settings-button {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 2.5em;
	height: 2.5em;
	border: 3px solid #e5e5e5;
	background: #e5e5e5; /* Same as border on .item-ancor:hover; */
	padding: .25em;
	border-radius: 8px 0 8px 0;
	display: block;
	opacity: 0;
	transition: .1s linear all;
}
.item-settings-button:hover {
	background: #bfbfbf;
	border-color: #bfbfbf;
}
.item-settings-button img {
	width: 100%;
	height: 100%;
}
.item-header img {
	width: 1.5em;
	height: 1.5em;
	float: left;
}
.item-header h3 {
	font-size: 1.25em;
	font-weight: 700;
	float: left;
	padding-left: .5em;
	padding-top: .1em;
	width: calc(100% - 1.5em);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item-link {
	display: block;
	margin-top: 1em;
	width: 100%;
	color: #5588FF;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item p {
	line-height: 1.5;
	margin-top: .75em;
	height: 2.75em;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Workspace Toggle Off */
.workspace.toggle-off {
	padding: 0 3em;
}
.workspace.toggle-off .workspace-header {
	margin-bottom: 0;
}
.workspace.toggle-off .workspace-items {
	display: none;
}
#workspaces .workspace.toggle-off h2 {
	font-size: 2em;
	font-weight: 700;
	border: 1px dashed #e0e0e0;
	border-top: none;
	border-bottom: none;
	border-radius: 0;
}
