::selection {
	background: #2d2d2d;
	color: #fff;
	text-shadow: none;
}
body {
	background: #fff;
	font-family: Sans-Serif;
	color: #2d2d2d;
}

/*
==================
Scrollbar Settings
==================
*/

/* width */
::-webkit-scrollbar {
	width: 12px;
}
/* Track */
::-webkit-scrollbar-track {
	background: #efefef;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #9f9f9f;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #7f7f7f;
}
